@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Londrina+Solid&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  height: 100%;
  right: 0px;
  top: 0px;
  position: fixed;
  box-shadow: inset 0 0 5px grey;
  width: 10px;
}

::-webkit-scrollbar:hover {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #fbf9f9;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #000227;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}
